* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #3333;
    color: #ffff;
    text-align: center;
    padding: 15px 0;
}

header p {
    font-size: 2em;
}

main h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.5em;
}

picture img {
    display: block;
    max-width: 450px;
    margin: 15px auto;
    box-shadow: 5px 5px 25px #3333;
}

section {
    margin: 25px auto;
    padding: 20px;
    max-width: 450px;
    background-color: #dddd;
    line-height: 1.5em;

    section p {
        margin-top: 10px;
    }

}

section h2 {
    border-bottom-width: 1px;
    border-bottom-color: #3333;
    border-style: solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

section ul {
    padding-left: 25px;
}